[Unit]
Description=S3 CodeDeployer
After=network-online.target

[Service]
Type=simple
User=root
Group=root
Environment="TZ=UTC"
WorkingDirectory=/etc/s3-code-deployer
PIDFile=/var/run/s3-code-deployer.pid
RestartSec=30
Restart=always
KillMode=process
TimeoutSec=30
ExecStart=/etc/s3-code-deployer/bin/agent
StandardOutput=/var/log/s3-code-deployer/agent.log
StandardError=/var/log/s3-code-deployer/agent.err
SyslogIdentifier=s3-code-deployer
ProtectHome=true
CPUAccounting=true
CPUQuota=15%
MemoryAccounting=true
MemoryHigh=10%
MemoryMax=15%